.solorojo{
    color: red;
}
.rojonamarillo{
    color: red;
    background-color: yellow;
}

.esthefany{
    color: aqua;
    background-color: black;
    border: 20px;
    font-size: 30px;
    font-family: 'Gill Sans';
    border-radius: 5px;
}